.menu {
    display: flex;
    margin-top: 64.26px;
    justify-content: space-between;
}

.logo {
    margin-left: 58px;
}

.nav-menu ul {
    display: flex;
    list-style-type: none;
    margin-left: 320px;
}

.nav-menu li a {
    display: block;
    padding-top: 15px;
    margin-right: 30px;
    color: #576275;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.6rem;
}


.button-menu {
    margin-right: 16px;
    display: flex;
}

.button-menu > a {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 16px;
    width: 95px;
    height: 45px;
    background: white;
    color: #041c43;
    border: 1px solid #041c43;
    border-radius: 7px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    text-decoration: none;
}

/*.btn-login button[type="submit"] {
    display: block;
    margin-right: 16px;
    width: 95px;
    height: 45px;
    background: white;
    color: #041c43;
    border: 1px solid #041c43;
    border-radius: 7px;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}*/

.btn-solicitar button[type="submit"] {
    display: block;
    width: 230px;
    height: 45px;
    color: white;
    border: none;
    border-radius: 7px;
    background: #17CF81;
    box-shadow: 10px 15px 20px rgba(26, 230, 144, 0.2);
    font-weight: 600;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}


.banner-hero {
    position: relative;
    width: 100%;
    min-height: 720px;
    height: 90vh;
    background-image: url(../img/foto-topo-home-recebe-mais.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-decript {
    display: inline-block;
    position: relative;
    width: 90%;
    max-width: 529.13px;
    margin-top: 155px;
    margin-left: 65px;
}

.banner-planos {
    display: flex;
    margin-bottom: 40px;
}

.nossos-planos {
    display: flex;
}

.roi {
    display: flex;
}

.banner-decript .titulo {
    margin-top: 50px;
    font-size: 5.6rem;
    font-weight: 600;
    font-style: normal;
    color: #041c43;
    line-height: 65px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.banner-decript .descricao {
    margin: 30px 0;
    font-size: 2.0rem;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;
    color: #576275;
    font-family: 'Nunito Sans', sans-serif;
}

.banner-hero .img-icon {
    display: inline-block;
    margin-bottom: 15px;
}

.banner-hero .desc-planos {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    color: #576275;
    margin: 0 5px 0 12px;
    font-family: 'Nunito Sans', sans-serif;
}

.banner-hero .desc-reais {
    margin-right: 47px;
    font-size: 1.6rem;
    font-weight: 900;
    font-style: normal;
    line-height: 20px;
    font-family: 'Nunito Sans', sans-serif;
    color: #17CF81;
}

.banner-hero .desc-roi {
    font-size: 1.6rem;
    font-weight: 900;
    font-style: normal;
    line-height: 20px;
    color: #17CF81;
    margin: 0 5px 0 12px;
    font-family: 'Nunito Sans', sans-serif;
}

.banner-hero .desc-text {
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    color: #576275;
    font-family: 'Nunito Sans', sans-serif;
}

.banner-btn {
    display: flex;
}

.banner-btn button[type="submit"] {
    display: block;
    background: white;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    border: none;
    padding: .9925rem 2.3406rem;
    border-radius: 7px;
    background: #17CF81;
    box-shadow: 10px 15px 20px rgba(26, 230, 144, 0.2);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.banner-btn a {
    margin-left: 48px;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    line-height: 60px;
    color: #041c43;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}


@media (max-width:768px) {
    .banner-hero {
        flex-direction: column;
        text-align: center;
    }

}