section.benefic-diferent {
    padding: 254px 4% 150px 4%;
    background: #e5e5e5;
}

.facilidades {
    width: 90%;
    max-width: 395px;
    margin-right: 202px;
}

.facilidades h1 {
    margin-bottom: 30px;
    font-size: 3.5rem;
    font-weight: 600;
    font-style: normal;
    line-height: 40px;
    color: #041C43;
    font-family: 'Poppins', sans-serif;
}

.facilidades p {
    font-style: normal;
    font-weight: normal;
    font-size: 2.0rem;
    line-height: 30px;
    color: #576275;
    font-family: 'Nunito Sans', sans-serif;
}

.benefic-custos {
    margin-left: 64px;
}

.benefic-diferent h2 {
    margin-left: 28.68px;
    width: 90%;
    max-width: 170px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    line-height: 28px;
    color: #041C43;
    font-family: 'Poppins', sans-serif;
}

.controle {
    margin-bottom: 56px;
}

.carteira-controle {
    margin-bottom: 56px;
}

.custos {
    margin-bottom: 56px;
}




@media (max-width: 768px) {
    .facilidades {
        flex-direction: column;
        text-align: center;
    }
}