.duvidas-content {
    max-width: 1072px;
    height: 1082px;
    margin: 0 auto;
    border-radius: 20px;
    background: #F8FAFD;
}

.duvidas-content > h1 {
    padding-top: 150px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
    line-height: 40px;
    color: #041c43;
    font-family: 'Poppins', sans-serif;
}

.duvidas-content > form {
    margin-top: 62px;
    text-align: center;
    align-items: center;
}

.duvidas-content form select {
    margin-bottom: 30px;
    width: 864px;
    height: 71px;
    display: inline-block;
    padding: 0 10px;
    background: #FFF;
    box-shadow: 0px 15px 45px;
    -webkit-box-shadow: 0px 15px 45;
    -moz-box-shadow: 0px 15px 45px;
    border: 2px solid #CCC;
    border-radius: 8px;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    color: #576275;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
