.duvidas-content {
    width: 90%;
    max-width: 1072px;
    height: 1082px;
    margin: 0 auto;
    border-radius: 20px;
    background: #F8FAFD;
}

.duvidas-content > h1 {
    padding-top: 150px;
    text-align: center;
    align-items: center;
    font-weight: 600;
    font-style: normal;
    font-size: 3.5rem;
    line-height: 40px;
    color: #041c43;
    font-family: 'Poppins', sans-serif;
}

.duvidas-content > form {
    margin-top: 62px;
    text-align: center;
    align-items: center;
}

#pergunta {
    padding-right: 50px;
}

.duvidas-content form select {
    margin-bottom: 30px;
    width: 874px;
    height: 71px;
    display: inline-block;
    padding: 0 10px;
    background: #FFF;
    box-shadow: 0px 2px 10px #f7f7f7;
    -webkit-box-shadow: 0px 2px 10px #f7f7f7;
    -moz-box-shadow: 0px 2px 10px #f7f7f7;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    outline: none;
    font-weight: 600;
    font-style: normal;
    font-size: 2.0rem;
    line-height: 40px;
    color: #576275;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
