*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

.container {
    width: 90%;
    max-width: 1216px;
    margin: 0 auto;
}

header {
    top: 0;
    left: 0;
    z-index: 999;
    position: absolute;
}

.flex {
    display: flex;
}



@media (max-width: 700px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .container .menu .container-menu {
        grid-column: 1;
    }
}