.servicos {
    margin: 0 auto;
    background-color: #e5e5e5;
}

.servicos-white {
    display: inline-flex;
    width: 100%;
    margin-top: 90px;
    border-top-left-radius: 300px;
    background-color: white;
}

.plano-escolha {
    margin-top: 90px;
    margin-left: 120px;
}

.plano-text-titulo > h1 {
    width: 90%;
    max-width: 540px;
    font-size: 35px;
    font-weight: 600;
    font-style: normal;
    line-height: 40px;
    color: rgba(4, 28, 67, 1);
    font-family: 'Nunito Sans', sans-serif;
}

.plano-text-titulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.servicos .servico-content {
    display: flex;
    margin-top: 138px;
}

.servicos .plano-frst {
    width: 90%;
    max-width: 340px;
    height: fit-content;
    margin-right: 32px;
    padding-bottom: 40px;
    background: #FFF;
    border-radius: 10px;
    border: 2px solid rgba(237, 243, 248, 1);
}

.melhor:nth-child(odd) {
    margin-top: 45px;
}

.pseudo-beneficio::after {
    content: 'Melhor custo benefício';
    display: inline-flex;
    width: 100%;
    height: 45px;
    border: 2px solid #A2F6B9;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    background: #D0FBDC;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    color: rgba(16, 163, 114, 1);
    font-family: 'Poppins', sans-serif;
}

.melhor .melhor-custo-benef {
    width: 90%;
    max-width: 340px;
    height: 45px;
    background: #D0FBDC;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid rgba(162, 246, 185, 1);
}

.melhor .melhor-custo-benef > p{
    margin-top: 10px;
    text-align: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-style: normal;
    color: rgba(16, 163, 114, 1);
    font-family: 'Poppins', sans-serif;
}

.plano-frst .plano-cabec {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.plano-cabec .plano-1-text h2 {
    margin-bottom: 8px;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: normal;
    color: #041C43;
    font-family: 'Poppins', sans-serif;
}

.plano-cabec .plano-1-text > p {
    width: 200px;
    display: block;
    font-size: 1.6rem;
    font-weight: normal;
    font-style: normal;
    color: #576275;
    font-family: 'Poppins', sans-serif;
}

.plano-cabec > .icone-plano1 {
    display: block;
    width: 16px;
    height: 18px;
}

.plano-cabec > .icone-plano2 {
    display: block;
    width: 27px;
    height: 29px;
}

.plano-cabec > .icone-plano3 {
    display: block;
    width: 37px;
    height: 40px;
}


.servicos .plano-foto {
    width: 100%;
    height: 167px;
    background: rgba(237, 243, 248, 1);
}

.servicos .plano-preco {
    display: inline-block;
    margin: 36px 0 22px 45px;
}

.servicos .plano-moeda {
    font-style: normal;
    font-weight: 500;
    font-size: 2.0rem;
    color: rgba(87, 98, 117, 1);
    font-family: 'Poppins', sans-serif;
}

.servicos .plano-peso {
    font-style: normal;
    font-weight: 600;
    font-size: 5.5rem;
    color: rgba(41, 58, 86, 1);
    font-family: 'Poppins', sans-serif;
}

.servicos .plano-cent {
    font-style: normal;
    font-weight: 600;
    font-size: 2.0rem;
    color: rgba(87, 98, 117, 1);
    font-family: 'Poppins', sans-serif;
}

.servicos .plano-mes {
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: rgba(87, 98, 117, 1);
    font-family: 'Poppins', sans-serif;
}

.servicos .plano-preco > p {
    margin-top: 22px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: rgba(87, 98, 117, 1);
    font-family: 'Nunito sanas', sans-serif;
}

.btn-preco button[type="submit"] {
    display: block;
    margin-top: 33px;
    width: 250px;
    height: 60px;
    color: white;
    border: none;
    border-radius: 7px;
    background: #17CF81;
    box-shadow: 10px 15px 20px rgba(26, 230, 144, 0.2);
    font-weight: 600;
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.plano-list {
    display: flex;
    margin: 22px 0 0 45px;
}

.plan-list-icon {
    margin-right: 12px;
}

.check-planos {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: normal;
    color: rgba(87, 98, 117, 1);
    font-family: 'Nunito Sans', sans-serif;
}


.consultoria {
    margin-top: 267px;
}

.consultoria-paragraf {
    display: block;
    width: 90%;
    max-width: 625px;
    margin: 0 auto;
}

.consultoria-descricao {
    margin-bottom: 60px;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 35px;
    color: #041C43;
    font-family: 'Nunito Sans', sans-serif;
}

.consultoria-btn {
    margin: 0 auto;
    align-items: center;
    text-align: center;
}

.consultoria-btn button[type="submit"] {
    margin-bottom: 90px;
    width: 252px;
    height: 60px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 7px;
    background: #041C43;
    box-shadow: 10px 15px 20px rgba(4, 28, 67, 0.2);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 24px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}